.contactIconsDiv a{
    color: white;
    padding: 5px;
    font-size: 10px;
}

#contactDiv{
    background-color: black;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    #contactDiv {
        width: 100%;
    }
  }