#githubMain{
    margin: 100px 0px;
}
#githubMain h1{
    text-align: center;
    margin: 50px;
}
#githubMain h1>a{
    padding: 5px;
    font-size: 30px;
}
#githubMain h1>a:hover{
    color: white;
}
.githubCalendar{
    padding: 20px;
    border: 1px solid white;
    width: 50%;
    display: flex;
    margin: 10px auto;
    border-radius: 5px;
}
.githubStats img{
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 10px;
}

@media screen and (max-width: 900px) {
    #githubMain{
        width: 90%;
        margin: auto;
    }
    .githubCalendar{
        width: 98%;
        padding: 5px;
    }
    
    img{
        width: 95%;
    }
    .githubStats img{
        padding: 10px;
        margin: 0px;

    }
}