.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;

}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 0 25px;
}
.navbar a:hover{
    color: #00b8ff
}